<main class="contenedor">
    <form action="/crear-cuenta" method="post" class="default-form">
        <div class="campo">
            <label for="text">Nombre</label>
            <input type="text" name="nombre" placeholder="Ingresa tu nombre">
        </div>
        <div class="campo">
            <label for="text">Corre electrónico</label>
            <input type="email" name="email" placeholder="Ingresa tu correo electrónico">
        </div>
        <div class="campo">
            <label for="text">Contraseña</label>
            <input type="password" name="password" placeholder="Ingresa tu contraseña">
        </div>
        <div class="campo">
            <label for="text">Repetir Contraseña</label>
            <input type="password" name="confirmar" placeholder="Repetir contraseña">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Crear cuenta" class="btn btn-azul">
        </div>
    </form>
</main>