<main class="contenedor">
    <form action="/iniciar-sesion" method="post" class="default-form">
        <div class="campo">
            <label for="text">E-mail</label>
            <input type="email" name="email" placeholder="Ingresa tu correo">
        </div>
        <div class="campo">
            <label for="text">Contraseña</label>
            <input type="password" name="password" placeholder="Ingresa tu contraseña">
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crear cuenta</a>
            <a href="/reestablecer-password">Olvidé mi contraseña</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar sesión" class="btn btn-azul">
        </div>
    </form>
</main>