<main class="contenedor">
    <form action="/reestablecer-password" method="post" class="default-form">
       <div class="campo">
            <label for="text">E-mail</label>
            <input type="email" name="email" placeholder="Ingresa tu correo">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer contraseña" class="btn btn-azul">
        </div>
    </form>
</main>